@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #033d5f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7b941;
  border-radius: 1rem;
}


@layer base {
  .yellowDiv {
    @apply flex items-center justify-center;
  }
  .yellowSpan {
    @apply text-center md:text-left mb-9 p-[0.9rem] text-[18px] md:text-[2.1rem] font-bold uppercase text-blue tracking-[1px] md:tracking-[2px] bg-light w-fit;
  }
  .input {
    @apply w-[92%] max-w-[250px] md:w-full h-[35px] px-2 md:h-[40px] text-[16px] md:text-[17px] bg-white border border-solid border-blue text-blue rounded-none outline-none appearance-none ;
  }
  body{
    @apply transition-all duration-300 selection:bg-red-500 selection:text-light
  }
}

.swiper-pagination-bullet {
  background-color: #f7b941 !important;
  border: 1px solid #033d5f;
}
.swiper-pagination-bullet-active {
  background-color: #f7b941 !important;
}
